<link href="css/style.css" rel="stylesheet">
<div>
    <h1>{{.Headline}}</h1>
    <p><strong>/api</strong> GET</p>
    <p><strong>/api/persons</strong> GET, POST</p>
    <p><strong>/api/persons/:id</strong> GET, PUT, PATCH, DELETE</p>
    <h3>{{.Flash.SuccessMsg}}</h3>
</div>
